extends layout.pug

block content
    section#content
        h2 Welcome, #{name}!
        form(action='/goodbye', method='post')
        label Please enter your name:
            input(type='text', name='username')
        button(type='submit') Submit
